* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Arial", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    font-family: "Poppins", "Roboto", sans-serif;
    background-color: #F7FFFE55;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.10);
}

.logo img {
    height: 92px;
}

.top-nav {
    display: flex;
    gap: 24px;
    font-size: 1rem;
    align-items: center;
}

.top-nav a {
    text-decoration: none;
    color: #4ec9bc;
}

.btn {
    color: #F7FFFE !important;
    background-color: #0c089b;
    padding: 8px 16px;
}

.logo {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}


/* GRID DE PRODUTOS */
.produtos-section {
    padding: 32px;
}

.produtos-section h1 {
    font-size: 2rem;
    margin-bottom: 24px;
}

#loading {
    font-size: 1.2rem;
    color: #bbffff;
}

.erro {
    color: red;
    font-size: 1.2rem;
    margin-bottom: 16px;
}

.hidden {
    display: none;
}

.produtos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
    margin-top: 16px;
}

/* CARD */
.card {
    background: #ffffff;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    margin-bottom: 12px;
}

.card h2 {
    font-size: 1.1rem;
    margin-bottom: 8px;
}

.card .categoria {
    font-size: 0.9rem;
    font-weight: bold;
    color: #4ec9bc;
    margin-bottom: 8px;
}

.card .preco {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 12px;
}

.card button {
    padding: 10px;
    background-color: #4ec9bc;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.card button:hover {
    background-color: #4ec9bc;
}
